<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup></startup>
  <connectionStrings>
    <add name="Recipes" connectionString="server=localhost;user id=RecipesUser;password=RecipesPass;persistsecurityinfo=True;database=Recipes" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
